<h4>Choose appointment time</h4>

<div class="row">
  <div class="col-md-3">
    <div class="list-group list-group-flush">
      <% @daily_slots.each do |slot| %>
        <div class="list-group-item">
          <%= link_to slot.time, physician_time_slot_appointments_new_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>