<h4>Choose appointment day</h4>

<div class="row">
  <div class="col-md-3">
    <div class="list-group list-group-flush">
      <% @time_slots_days.each do |day| %>
        <div class="list-group-item">
          <%= link_to day.strftime('%d.%m.%Y'), physician_daily_slots_path(date: day) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
