<%= simple_form_for @physician, validate: true do |f| %>
  <div class="form-group">
    <%= f.label :specialty %><br>
    <%= f.text_field :specialty, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
