<tr id="physician-<%= "#{physician.id}" %>">
  <td><%= physician.id %></td>
  <td><%= link_to physician.specialty, physician_time_slots_path(physician) %></td>

  <td>
    <% physician.work_time.each do |day, time| %>
      <div><%= day %>: <%= time.join(', ') %></div>
    <% end %>
  </td>

  <td>
    <%= link_to fa_icon('eye'), physician_path(physician), class: "px-2 label label-primary" %>
    <%= link_to fa_icon('pencil'), edit_physician_path(physician), class: "px-2 label label-primary" %>
  </td>
</tr>