<%= render partial: 'nav_index_new' %>

<h4>Choose a physician to create an appointment</h4>

<div class="row">
  <div class="col table-responsive">
    <table class="table table-striped mt-3">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Specialty</th>
        <th scope="col">Work time</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <%= render partial: 'physician', collection: @physicians %>
      </tbody>
    </table>
  </div>
</div>