<%= render partial: 'nav_show_edit' %>

<dl>
  <dt class="badge badge-primary">Specialty</dt>
  <dd><h4><%= @physician.specialty %></h4></dd>

  <dt class="badge badge-primary">Work time</dt>
  <dd>
    <p>
      <% @physician.work_time.each do |day, time| %>
        <div><%= day %>: <%= time.join(', ') %></div>
      <% end %>
    </p>
  </dd>
</dl>