<%= simple_form_for @patient, validate: true do |f| %>
  <div class="form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :patronymic %><br>
    <%= f.text_field :patronymic, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :date_of_birth %><br>
    <%= f.date_field :date_of_birth, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
