<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <%= link_to 'Show', patient_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Edit', edit_patient_path, class: 'nav-link' %>
  </li>
</ul>