<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <%= link_to 'List', patients_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Create new', new_patient_path, class: 'nav-link' %>
  </li>
</ul>