<tr id="patient-<%= "#{patient.id}" %>">
  <td><%= patient.id %></td>
  <td><%= patient.full_name %></td>
  <td><%= patient.short_date_of_birth %></td>

  <td>
    <%= link_to fa_icon('eye'), patient_path(patient), class: "px-2 label label-primary" %>
    <%= link_to fa_icon('pencil'), edit_patient_path(patient), class: "px-2 label label-primary" %>
  </td>
</tr>