<%= render partial: 'nav_index_new' %>

<div class="row">
  <div class="col table-responsive">
    <table class="table table-striped mt-3">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Full name</th>
        <th scope="col">Date of birth</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <%= render partial: 'patient', collection: @patients %>
      </tbody>
    </table>
  </div>
</div>