<%= render partial: 'nav_show_edit' %>

<dl>
  <dt class="badge badge-primary">Full name</dt>
  <dd><h4><%= @patient.full_name %></h4></dd>

  <dt class="badge badge-primary">Date of birth</dt>
  <dd><h4><%= @patient.short_date_of_birth %></h4></dd>
</dl>