<tr id="appointment-<%= "#{appointment.id}" %>">
  <td><%= appointment.id %></td>
  <td><%= appointment.date_time %></td>

  <td>
    <%= link_to appointment.patient.full_name, patient_path(appointment.patient) %>
  </td>

  <td>
    <%= link_to appointment.physician.specialty, physicians_path(appointment.physician) %>
  </td>

  <td>
    <%= link_to fa_icon('eye'), appointment_path(appointment), class: "px-2 label label-primary" %>
    <%= link_to fa_icon('pencil'), edit_appointment_path(appointment), class: "px-2 label label-primary" %>
  </td>
</tr>