<%= simple_form_for @appointment, validate: true do |f| %>
  <%= f.hidden_field :physician_id %>
  <%= f.hidden_field :date, time_slot.date %>

  <h4>Choose a patient</h4>
  <div class="form-group">
    <%= f.label :patient %><br>
    <%= f.collection_select :patient_id, Patient.all, :id, :full_name, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>

  <% if @appointment.persisted? %>
    <div class="mt-5">
      <%= link_to 'Delete appointment', @appointment,
                  method: :delete, data: {confirm: 'Are you sure?'}, class: 'text-danger' %>
    </div>
  <% end %>
<% end %>
