<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <%= link_to 'Show', appointment_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Edit', edit_appointment_path, class: 'nav-link' %>
  </li>
</ul>