<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <%= link_to 'List', appointments_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Create new', physicians_path, class: 'nav-link' %>
  </li>
</ul>