<%= render partial: 'nav_index_new' %>

<div class="row justify-content-md-center">
  <div class="col table-responsive">
    <table class="table table-striped mt-3">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Patient</th>
        <th scope="col">Physician</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <%= render partial: 'appointment', collection: @appointments %>
      </tbody>
    </table>
  </div>
</div>


