<%= render partial: 'nav_show_edit' %>

<dl>
  <dt class="badge badge-primary">Date</dt>
  <dd><h4><%= @appointment.date_time %></h4></dd>

  <dt class="badge badge-primary">Patient</dt>
  <dd><h4><%= @appointment.patient.full_name %></h4></dd>

  <dt class="badge badge-primary">Physician</dt>
  <dd><h4><%= @appointment.physician.specialty %></h4></dd>
</dl>

