<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container">
    <%= link_to 'Clinic', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to 'Appointments', appointments_path, class: 'nav-item nav-link' %>
        <%= link_to 'Patients', patients_path, class: 'nav-item nav-link' %>
        <%= link_to 'Physicians', physicians_path, class: 'nav-item nav-link' %>
      </div>
    </div>
  </div>
</nav>